.navContainer {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

body {
    background-color: beige;
}

footer {
    align-content: center;
    background-color: lightgray;
    font-size: 10px;
}

.navButton {
    display: flex;
    width: 100px;
    height: 100%;
}

.navButton a {
    text-decoration-style: none;
}

.header {
    align-content: center;
    justify-content: center;
}