{% extends "skel.html" %} {% block title %}contact{% endblock %} {% block content %}
<h1>contact</h1>
<h3>email</h3>
<i>ben@deciduously.com</i> || <i>bendlovy@gmail.com</i>

<h3>Blag</h3>
<a href="<a href=" https://dev.to/deciduously"> <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Ben Lovy's DEV Profile"
  height="30" width="30" />
</a>"

<h3>phone</h3>
<i>+11 508 867-5309</i> - <sub>Jeeeeenny, I've got your number...</sub>

<h3>pigeon</h3>
<i>Call Harriet, she'll know where to find me between April and October</i>
<br /><br />
Email is probably best.

{% endblock %}