<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>{% block title %}{{ title }} - deciduously{% endblock %}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125658268-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-125658268-1');
    </script>
    {% block head %}{% endblock %}
</head>

<body>
    <section class="navbar">
        <div class="navContainer">
            <div class="navButton">
                <a href="/">home</a>
            </div>
            <div class="navButton">
                <a href="/posts">posts</a>
            </div>
            <div class="navButton">
                <a href="/demos">demos</a>
            </div>
            <div class="navButton">
                <a href="/contact">contact</a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <footer>
                deciduously-com v0.3.2 &#169; 2018
                <a href="/">deciduously</a>
                <br />Built with Rust - check out my guts on <a href="https://github.com/deciduously/deciduously-com">github</a>
            </footer>
        </div>
    </section>
</body>

</html>